**/artifacts/
**/DerivedData/
**/.derivedData/
**/.claude/
**/*.xcresult/
*.xcuserdata/

**/xcuserdata/
**/*.xcuserstate

blog/_site/
blog/.bundle/
blog/.jekyll-cache/
blog/.sass-cache/
blog/vendor/bundle/
