**/artifacts/
**/DerivedData/
**/.derivedData/
**/.claude/
**/*.xcresult/
*.xcuserdata/

simulator-log-capture/SimulatorLogCapture.xcodeproj/project.xcworkspace/xcuserdata/tigerguo.xcuserdatad/UserInterfaceState.xcuserstate
